<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>404</title>

	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="/public/css/style.css" />
	<style>/* Style for the 404 page */
		#notfound {
			position: relative;
			height: 100vh;
			background-color: #f8f8f8;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.notfound {
			max-width: 767px;
			width: 100%;
			text-align: center;
		}
		
		.notfound-404 {
			position: relative;
			height: 200px;
		}
		
		.notfound-404 h1 {
			font-family: 'Montserrat', sans-serif;
			font-size: 200px; /* Make the number large */
			margin: 0;
			font-weight: 900;
			letter-spacing: 20px;
			display: flex;
			justify-content: center;
		}
		
		.notfound-404 h1 span {
			display: inline-block;
			color: #000000; /* Red color for numbers */
		}
		
		.notfound h3 {
			font-family: 'Cabin', sans-serif;
			font-size: 22px;
			font-weight: 400;
			margin-bottom: 15px;
			color: #333;
		}
		
		.notfound h2 {
			font-family: 'Cabin', sans-serif;
			font-size: 16px;
			font-weight: 400;
			color: #333;
		}
	 
		</style>
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span><span>!</span></h1>
			</div>
		</div>
	</div>

</body>
</html>
