<style>
  ul{
    height: 100%;
  }
</style>
<ul class="nav a">
    <li class="nav-item">
      <a class="nav-link" href="../../index.html">
        <i class="icon-box menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/user">
        <i class="fa-solid fa-user mr-4"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/sales-report">
        <i class="fa-solid fa-bookmark mr-4"></i>
        <span class="menu-title">Sales Report</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/product">
          <i class="fa-solid fa-cube mr-4"></i>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orderList">
        <i class="fa-regular fa-square-check mr-4"></i>
        <span class="menu-title">Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">
          <i class="fa-solid fa-shirt mr-4"></i>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brands">
          <i class="fa-solid fa-bars mr-4"></i>
        <span class="menu-title">Brands</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/coupon">
          <i class="fa-solid fa-paper-plane mr-4"></i>
        <span class="menu-title">Coupon code</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/offerManagment">
          <i class="fa-solid fa-credit-card mr-4"></i>
        <span class="menu-title">Offers</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="../../index.html">
          <i class="fa-solid fa-right-from-bracket mr-4"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
    
  </ul>